<div class='container'>
	<div class='row'>
        <div class='col-sm-12'>
    		<a href="#myModal" role="button"  data-toggle="modal" class='btn btn-primary btn-lg btn-block'>Create New Thread</a>	
    		<hr>
        </div>
	</div>
	<div class='row'>
        <div class='col-sm-12'>
    		<div id='all_threads' class='well'>
    			<%@topics.each do |t|%>
    				<div id='thread<%=t.id%>' class='thread'>
    					<div class='thread_name btn btn-link' thread_id='<%=t.id%>'><%=t.name%></div>
     					 <div><strong>- <%=t.user.name%> </strong><br class='visible-sm'>
                            <%Time.zone = "Pacific Time (US & Canada)"%> 
    						<%= Time.zone.parse(t.created_at.to_s).strftime("%b %d %Y at %I:%M %p")%><br class='visible-sm'> |
                            <strong><%=t.posts.count%></strong> posts |
                            <strong><%=t.views%></strong> views
                            <% if t.user.id == session[:id] %>
                            |<div thread_id='<%=t.id%>' class='edit_thread btn btn-link'>Edit</div>
                            <%end%>
    					</div>
    				</div>
                <hr>
    			<%end%>
            </div>
		</div>
	</div>
</div>
 
<!-- Modal -->
<div id="myModal" class="modal">
  <div class='modal-dialog'>
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class='modal-title'>Create New Thread</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <input id='thread_name' class='form-control' placeholder='Thread Name' type='text'>
    </div>
    <div class="form-group">
        <textarea id='first_post' class='form-control' placeholder='Type your first post here...'></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id='submit_thread' class="btn btn-primary">Create Thread</button>
  </div>
  </div>
  </div>
</div>

<div id="editThread" class="modal">
    <div class='modal-dialog'>
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class='modal-title'>Edit Thread Name</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <input id='edit_thread_name' class='form-control' type='text'>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id='edit_thread_btn' class="btn btn-primary">Edit Thread</button>
  </div>
  </div>
  </div>
</div>