<div class='container'>
	<div class='row'>
		<div id='profile_page'>
		    <ul class="nav nav-pills">
		      <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
		      <li><a href="#profile" data-toggle="tab">Password</a></li>
		    </ul>
		    <div id="myTabContent" class="tab-content">
		      <div class="tab-pane active in" id="home">
		        <form id="tab">
		        	<div class='col-lg-12'>
			        	<img id='profile_pic' class='img-circle' src="<%= @user.img_src%>">
			        	<div id='user_stats'>
				        	<h4><%= @user.posts.count%> posts <span class="glyphicon glyphicon-comment"></span></h4>
				        	<h4><%= @user.brofists.count%> brofists <span class="glyphicon glyphicon-thumbs-up"></span></h4>
				        	<h4><%= @user.bitchslaps.count%> bitchslaps <span class="glyphicon glyphicon-thumbs-down"></span></h4>
				        </div>
				        <br>
			    	</div>
			    	
			    	<div class='col-md-4 col-md-offset-4'>
			        	<div class="input-group">
				           	<span class='input-group-addon'><span class="glyphicon glyphicon-user"></span></span>
				            <input id='profile_name' type="text" value="<%=@user.name%>" class="form-control">
				        </div>
				        <br>
			        </div>
			        
			        <div class='col-md-4 col-md-offset-4'>
				        <div class="input-group">
				            <span class='input-group-addon'><span class="glyphicon glyphicon-picture"></span></span>
				            <input id='profile_avatar_url' type="text" value="<%= @user.img_src%>" class="form-control">
				        </div>
				     	<br>
			        </div>
			        
			        <div class='col-md-4 col-md-offset-4'>
				        <div class="input-group">
				            <span class='input-group-addon'><span class="glyphicon glyphicon-envelope"></span></span>
				            <input id='profile_email' type="text" value="<%=@user.email%>" class="form-control">
				        </div> 
				        <br> 
			        </div>   
			        
			        <div class='col-md-4 col-md-offset-4'>
		        		<button id='update_profile' class="btn btn-lg btn-primary">Update</button>
		        	</div>
		        </form>
		      </div>
		      <div class="tab-pane fade" id="profile">
		    	<form id="tab2">
		    		<br>
		    		<div class='col-md-4 col-md-offset-4'>
			    		<div class="input-group">
			        		<span class='input-group-addon'><span class="glyphicon glyphicon-lock"></span></span>
			        		<input id='profile_password' type="password" class="form-control" placeholder='new password'>
			        	</div>
			        	<br>
		        	</div>
		        	
		        	<div class='col-md-4 col-md-offset-4'>
		        		<button id='update_password' class="btn btn-lg btn-primary">Update</button>
		        	</div>
		    	</form>
		      </div>
		  </div>
	</div>
</div>